.navbar {
  background-color: #261834 !important;
  border-bottom: 1px solid rgba(170, 59, 255, 0.1);
}

.navbar-brand {
  color: #e0baaa;
  font-weight: bold;
}

.nav-link {
  color: #e0baaa !important;
}

.nav-link:hover {
  color: #fff !important;
}
